.DS_Store

*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

*.swp
*.swo
.project

test/test-mixed-units.jl
test/test-gmd-gic.jl
test/gmd.log
src/scratch

Manifest.toml


**/*.pyc
**/processed/*
test/data/processed/*
.vscode/*
**/*.png
**/gic_blocker_results/*

context.yaml
results.csv