.DS_Store
.project
.vscode/*

*.jl.*.cov
*.jl.cov
*.jl.mem
*.swo
*.swp
**/*.png
**/*.pt
**/*.pyc
**/gic_blocker_results/*
**/processed/*

context.yaml
deps/deps.jl
docs/**
draft/**
Figures/**
logs/**
Manifest.toml
*.csv
src/**
src/scratch
swmp_ml.wiki/**
# test/**
gmd-tut/**
_backup/**
data/**/*.json
data/**/*.txt
data/gic_bak/**